{% extends "duet-ap2_en.j2" %}

{% block summary %}
This application profile corresponds to the air quality data disclosed in the <a href="https://www.chmi.cz/files/portal/docs/uoco/web_generator/actual_hour_data_cze.json">Czech airquality sensors</a>
{% endblock %}


